<!-- quiz/templates/quiz/question.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre Test</title>
    <style> 
        .answered {
            background-color: green !important;
        }
        
    </style>
    <link rel="stylesheet" href="{% static 'quiz/question.css' %}">
    <link rel="stylesheet" href="{% static 'quiz/slider.css' %}">
    <script src="{% static 'quiz/question.js' %}"></script>
</head>
<body>
    <video id="video" width="200" height="200" autoplay></video>
    <form id="questionForm" method="post" action="{% url 'submit_form' %}">
        {% csrf_token %}
        <div class="questionFormText">
            <h4>MCQ Single Option Correct</h4>
            <p>Question {{question.pk}}</p>        
            <p id="styleQuestionLabel">{{ question.label }}</p>
        </div>
        <div class="optionsDiv">
            {% for option in question.options.all %}
                <input type="radio" id="option{{ option.pk }}" name="selected_option" value="{{ option.pk }}" data-is-correct="{{ option.is_correct }}" 
                    {% if option.is_current_selected %} checked {% endif %}>
                <label for="option{{ option.pk }}">{{ option.text }}</label><br>
            {% endfor %}
        </div>

        <div id="rating">
            <label for="confidence_rating"> How confident are you in your solution :</label>
            <span id="confidence_rating_slider_value">0</span><br>
            <input type="range" id="confidence_rating" name="confidence_rating" min="0" max="10" step="1" value="0">
        </div> 

        <div class="buttonDiv">
            <button type="button" id="clearOptionButton">Clear Option</button>
            <button type="submit" id="styleSubmitAndNext">Submit & Next</button>
        </div>

        <input type="hidden" id="question_id" name="question_id" value="{{ question.pk }}">
        <input type="hidden" id="is_correct" name="is_correct" value="">
        <input type="hidden" id="time_spent" name="time_spent" value="">
        <input type="hidden" id="times_option_changed" name="times_option_changed">
        <input type="hidden" id="selected_option_id" name="selected_option_id" value="">

    </form>

    <br>

    <div class="belowSection">
        <div id="timer">Time spent: 0 seconds</div>
        <div id="changeCount">You changed the option 0 time(s)</div>
        <div class="belowSectionbuttons">
            {% for Q in questions %}
                <div class="belowSectionbutton">
                    <button id="question{{ Q.pk }}" class="questionButton {% if Q.is_answered %} answered {% endif %}" data-question-id="{{ Q.pk }}">{{Q.pk}}</button>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        // Get the video element
        const video = document.getElementById('video');

        // Access the user's webcam
        navigator.mediaDevices.getUserMedia({ video: true, audio: false })
            .then(stream => {
                // Assign the webcam stream to the srcObject of the video element
                video.srcObject = stream;
            })
            .catch(error => {
                console.error('Error accessing media devices.', error);
            });
    </script>
</body>
</html>
